@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	min-width: 400px;
	width: 100vw;
}

body {
	font-family: 'Fredoka', sans-serif !important;
	background-color: #850b0b;
	overflow-x: hidden !important;
	overflow-y: overlay;
	position: relative;
}

/* Navbar */

nav {
	background-color: #1d1f24;
	-webkit-box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
}

.nav-link {
	color: white !important;
}

.nav-link:hover,
.fab:hover,
.nav-link.active {
	color: #ee0c0c !important;
}

/* Studio Image And Its Display  */

.hero {
	color: #eee;
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 95vh;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);
}

.hero h1 {
	font: bold 60px 'Fredoka', sans-serif;
	margin-bottom: 15px;
}

.hero h3 {
	font: normal 28px 'Fredoka', sans-serif;
	margin-bottom: 40px;
	font-weight: 400 !important;
}

.hero h3 span {
	font-weight: 600 !important;
	letter-spacing: 2px;
	color: #ff0404;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin-top: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* About Us Section */

.about-text,
.why-us-text,
.testimonials-text {
	color: #111111;
	text-align: center;
	margin: 6% auto;
	font-size: larger;
}

.why-us-text p,
.text {
	color: #d9cccc;
}

.contact-us {
	padding: 70px 0px;
	background-color: #1d1f24;
}
.section-title h2 {
	color: #ffffff;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 8px;
	border-bottom: 5px solid #850b0b;
	padding-bottom: 10px;
	display: inline-block;
}
.section-title p {
	color: #e8e8e8;
	margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
	background: #fafafa;
}
.contact-us textarea {
	min-height: 188px;
	max-width: 100%;
}
.contact-us .map {
	overflow: hidden;
	border-radius: 4px;
}
#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}
.footer .container a {
	color: #b70101;
}

.box-area {
	padding: 30px;
	position: relative;
	display: block;
	background: #fff;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 40px 0;
}
.box-area h5 {
	font-size: 16px;
	font-weight: 700;
	color: #b40707;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.box-area span {
	color: #262626;
	display: block;
	font-size: 13px;
	margin: 0 0 10px;
	font-weight: 400;
}
.box-area .img-area {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

#testimonial_area .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
#testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #000000;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	position: absolute;
}
#testimonial_area .owl-prev {
	left: -60px;
	top: -30px;
}
#testimonial_area .owl-next {
	right: -60px;
	top: -30px;
}
@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.box-area {
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
}

